th {
    background-color: aquamarine;
    font-size: 1.4em;
    text-align: center;
}

td {
    background-color: blanchedalmond;
    text-align: center;
    border: 1px solid #000;
    color: orange;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

